ok,
not-ok, seriously not ok { 
  go: 0.1px;
  color: #000;
  background: url(white.gif) #FFF;
  border: 0.5em solid rgb(0, 1, 2);
  padding: .5em 1em .3em;
}
a>b>c+d { y: z; }
f {   opacity: 0.51; background: url('1.gif'); color: rgba(); }
@media print { @page { margin: 2cm 0.5cm; } }
