/*
 A Comment
*/
ok, not-ok , seriously
not ok  { go: 0.1px; color: black; background: url(white.gif) white; border: .5em solid rgba(0, 1, 2, 1);   padding: 0.5em 1em 0.3em; }

a > b > c   + d { y: z; }

f {
  opacity: .51;
  background: url('1.gif');
  color: rgba(); 
}

.tossing-empties {}

@media print {
  @page {
    margin: 2cm .5cm;
  }
}
