ok,
not-ok,
seriously not ok {
  go: 0.1px;
  color: rgba(0, 0, 0, 1);
  background: url(white.gif) rgba(255, 255, 255, 1);
  border: 0.5em solid rgba(0, 1, 2, 1);
}

a > b > c + d {
  y: z;
}

f {
  background: url("1.gif");
  color: rgba();
}