/*
 A Comment
*/
ok, not-ok , seriously
not ok  { go: 0.1px; color: black; background: url(white.gif) white; border: .5em solid rgba(0, 1, 2, 1); }

a > b > c   + d { y: z; }

f {
  background: url('1.gif');
}